.avatar-footer {
	@extend %flex-center;
	justify-content: flex-start;
	img {
		border-radius: $rad-profile;
		margin-right: 1rem;
	}
	legend {
		@extend %flex-column;
		h3 {
			@extend %author;
		}
		p {
			@extend %sub-author;
		}
	}
}
