.main {
	grid-area: main2;
	height: 100%;
	@extend %flex-column;
	justify-content: space-between;
	figure {
		@extend %flex-column;
		justify-content: space-between;
		img {
			object-fit: cover;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
		h2 {
			@extend %title;
		}
		p {
			@extend %text;
		}
		@include media-max("1340px") {
			justify-content: space-evenly;
		}
	}
	.top {
		flex: 50%;
		margin-bottom: 1rem;
	}
	.bottom {
		flex: 50%;
	}
	.avatar-footer {
		@include media-max("1340px") {
			margin-top: 1rem;
		}
	}
}

@include media-max("1340px") {
	.main-img {
		height: 550px;
	}
}

@include media-max("425px") {
	.main-img {
		width: 100%;
		height: auto;
	}
}
