.main {
	grid-area: main2;
	figure {
		height: 100%;
		@extend %flex-column;
		justify-content: space-between;
		img {
			object-fit: cover;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
		h2 {
			@extend %title;
		}
		h4 {
			@extend %subtitle;
			@include media-max("1340px") {
				padding: 1rem 0;
			}
		}
		p {
			@extend %text;
		}
	}
	.avatar-footer {
		@include media-max("1340px") {
			margin-top: 1rem;
		}
	}
}

@include media-max("1340px") {
	.main-img {
		height: 550px;
	}
}
