.categorie {
	@extend %flex-center;
	align-items: flex-start;
	@extend %categorie;
	grid-area: cat;
}
.latest-posts {
	margin-top: 1.25rem;
	grid-area: main;
	display: grid;
	grid-template-columns: 0.8fr 1.2fr 0.6fr 0.8fr;
	grid-template-rows: 1fr;
	grid-template-areas: "left main2 content right";
	gap: 1rem;
	@include media-max("1340px") {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 0.6fr 0.5fr 0.6fr;
		grid-template-areas: "main2" "left" "content" "right";
	}
}
