*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	background-color: $white;
	color: $black;
	font-family: $rob;
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("../../assets/images/bg.png") center / cover no-repeat;
}
.container {
	display: grid;
	min-height: 100vh;
	padding: 0 2.5rem 2.5rem;
	grid-template-columns: 1fr;
	grid-template-rows: 0.15fr 0.15fr 1fr;
	grid-template-areas:
		"nav"
		"cat"
		"main";
	gap: 1rem;
	@include media-max("1340px") {
		padding: 0 2rem 2rem;
		grid-template-rows: 0.05fr 0.05fr 1fr;
	}
	@include media-max("425px") {
		padding: 0 1rem 1rem;
		grid-template-rows: 0.03fr 0.02fr 1fr;
	}
}
