*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	background-color: $white;
	color: $black;
	font-family: $rob;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}
.bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("../../assets/images/bg.png") center / cover;
	pointer-events: none;
	overflow: hidden;
}
.container {
	position: relative;
	display: grid;
	min-height: 100vh;
	padding: 0 2.5rem 2.5rem;
	grid-template-columns: 1fr;
	grid-template-rows: 0.15fr 0.15fr 1fr;
	grid-template-areas:
		"nav"
		"cat"
		"main";
	gap: 1rem;
	@include media-max("1340px") {
		padding: 0 2rem 2rem;
		grid-template-rows: 0.05fr 0.05fr 1fr;
	}
	@include media-max("425px") {
		padding: 0;
		padding-top: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100vw;
	}
}
