//color
$white: #f1e6d6;
$black: #060606;
$grey: #bbb2c3;
$red: #a26769;
$orange: #b4654a;
$green: #6e9075;

//fonts
$rob: "Roboto", sans-serif;
$ibm: "IBM Plex Serif", serif;

//Utils
$rad-profile: 10px;
